<p>{{ _('Dear') }} {{ user.username }},</p>
<p>
    {{ _(To reset your Password) }}
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        {{ _('Click Here') }}
    </a>.
</p>
<p>{{ _('Alternatively, you can paste the following link in your browser's address bar:') }}</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>{{ _('If you you have not requested a password reset simply ignore this message.') }}</p>
<p>{{ _('Sincerely,') }}</p>
<p>{{ _('The Microblog Team') }}</p>